<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/san-pham"><span>Sản
                        phẩm</span></a></li>
            {{#if isCate}}
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="{{currentCate.slug}}"><span>{{currentCate.name}}</span></a>
            {{/if}}
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"S\u1ea3n ph\u1ea9m","item":"https:\/\/cokhinguyenhungdalat.com\/san-pham"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-12 col-md-12">

            <div class="title-main has-filter d-flex align-items-center justify-content-between">
                {{#if isCate}}
                <h1>{{currentCate.name}}</h1>
                {{else}}
                <h1>Sản phẩm</h1>
                {{/if}}
            </div>
            <div class="content-main w-clear">
                <div class='row-z'>
                    <div class="row">
                        {{#each products}}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                            <div class="product grid">
                                <a class="box-product text-decoration-none" href="/san-pham/{{this.slug}}"
                                    title="{{this.name}}">
                                    <p class="pic-product scale-img"><img
                                            onerror="this.src='thumbs/360x360x2/assets/images/noimage.png';" style="height: 259px !important;"
                                            src="{{this.img.[0]}}"
                                            alt="{{this.name}}" /></p>

                                </a>
                                <div class="info-product">
                                    <div class="wrap-info">
                                        <div class="info1">
                                            <h3 class="name-product "> <a class="text-decoration-none"
                                                    href="tu-inox-ham-nong-thuc-an.html"
                                                    title="{{this.name}}">{{this.name}}</a></h3>
                                            <p class="price-product">
                                                <span class="price-new">Liên hệ: <span>
                                                    {{#each ../shop.phone}}
                                                    - <a href="tel:{{this}}">{{this}}</a>
                                                    {{/each}}
                                                    </span></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>

                    <div class="clear"></div>
                    <div class="pagination-home">
                        <ul class='pagination pagination-sm justify-content-center mb-0'>
                            <li class='page-item'><a class='page-link'>Page 1 / {{pagination.length}}</a></li>

                            {{#each pagination}}
                            <li class='page-item {{#if this.active}} active {{/if}}'><a class='page-link' 
                            href= {{#if ../isCate}}"/danh-muc/{{../currentCate.slug}}?page={{this.page}}" {{else}}"/san-pham?page={{this.page}}" {{/if}}>{{this.page}}</a></li>
                            {{/each}}
                            
                            <li class='page-item'><a class='page-link' href={{#if isCate}}"/danh-muc/{{currentCate.slug}}?page={{this.page}}" {{else}}'san-pham?page={{next}} ' {{/if}}>Next</a></li>
                            <li class='page-item'><a class='page-link' href={{#if isCate}}"/danh-muc/{{currentCate.slug}}?page={{this.page}}" {{else}}'san-pham?page={{last}}{{/if}}'>Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const paginationLinks = document.querySelectorAll('.page-link');
    paginationLinks.forEach(function (link) {
        link.addEventListener('click', function (event) {
            event.preventDefault();
            const page = link.getAttribute('href');
            const search = document.getElementById('search-box').value
            window.location.href = `${page}&search=${search}`
            console.log(`${page}&search=${search}`)
        });
    });
</script>