<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item "><a class="text-decoration-none" href="/tin-tuc"><span>Tin tức</span></a>
            </li>
            <li class="breadcrumb-item active"><a class="text-decoration-none"
                    href="/tin-tuc/{{blog.slug}}"><span>{{blog.title}}</span></a></li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"Tin t\u1ee9c","item":"https:\/\/cokhinguyenhungdalat.com\/tin-tuc"},{"@type":"ListItem","position":2,"name":"Gi\u1ea3i ph\u00e1p \u201cch\u1eb7n\u201d chi\u00eau gian l\u1eadn thu\u1ebf qua \u00e1p m\u00e3 m\u1eb7t h\u00e0ng th\u00e9p","item":"https:\/\/cokhinguyenhungdalat.com\/giai-phap-chan-chieu-gian-lan-thue-qua-ap-ma-mat-hang-thep"}]}</script>
    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-12 order-1 order-md-2">

            <div class=" inner-page mb-3">
                <div class="title-main"><span><span>
                            <h1>{{blog.title}}</h1>
                        </span></span></div>
                <div class="time-main"><i class="icon-calendar-1"></i><span>Ngày đăng: {{shortDatetime
                        blog.createdAt}}</span></div>


                <div class="meta-toc">
                    <div class="box-readmore">
                        <ul class="toc-list" data-toc="article" data-toc-headings="h1, h2, h3">{{shop.name}}</ul>
                    </div>
                </div>
                <div class="content-main w-clear" id="toc-content">
                    {{#each blog.content}}
                        <p style="text-align: justify;">
                            <span style="line-height:1.5;">
                                <span style="font-size:14px;">
                                    <strong>{{this.header}}</strong>
                                </span>
                            </span>
                        </p>
                        {{#each this.paragraph}}
                            <p style="text-align: justify;">
                            <span style="line-height:1.5;">
                                <span style="font-size:14px;">
                                    <span style="font-family:Arial,Helvetica,sans-serif;">{{this}}</span>
                                </span>
                            </span>
                        </p>
                        {{/each}}
                    {{/each}}
                    

                    <h2>{{shop.name}}</h2>

                    <p><strong>Địa chỉ:</strong> <a href="https://goo.gl/maps/Dm7U4iQgL8jaavd67">{{shop.address.street}},
                            {{shop.address.ward}}, {{shop.address.district}}, {{shop.address.city}}</a></p>

                    <p><strong>Email:</strong>{{shop.email}}</p>

                    <p><strong>SĐT liên hệ: </strong>
                    {{#each shop.phone}}
                        - <a href="http://tel:{{this}}">{{this}}</a>
                    {{/each}}
                    </p>

                    <p><strong>Zalo</strong>: <a target="_blank" href="{{shop.social.zalo}}">Liên hệ</a></p>

                    <p><strong>Website</strong>: <a href="/">{{shop.social.website}}</a></p>

                    <p><strong>Giờ làm việc</strong>: {{shop.worktime}}</p>
                </div>
                <div class="tags-pro-detail w-clear">
                </div>
                <div class="share">
                    <b>Chia sẻ:</b>
                    <div class="social-plugin w-clear">
                        <div class="addthis_inline_share_toolbox_qj48"></div>
                        <div class="zalo-share-button"
                            data-href="https://cokhinguyenhungdalat.com/giai-phap-chan-chieu-gian-lan-thue-qua-ap-ma-mat-hang-thep"
                            data-oaid="0988868618" data-layout="1" data-color="blue" data-customize=false></div>
                    </div>
                </div>
                <div class="fb-comments"
                    data-href="https://cokhinguyenhungdalat.com/giai-phap-chan-chieu-gian-lan-thue-qua-ap-ma-mat-hang-thep"
                    data-width="100%" data-numposts="5" data-order-by="reverse_time"></div>
                <div class="share othernews">
                    <b>Bài viết khác:</b>
                    <ul class="list-news-other">
                        {{#each otherBlogs}}
                        <li><a class="text-decoration-none" href="/tin-tuc/{{this.slug}}"
                                title="Phân biệt inox chất lượng tốt và inox mạ">
                                {{this.title}} - {{shortDate this.createdAt}} </a></li>
                        {{/each}}
                    </ul>
                    <div class="pagination-home"></div>
                </div>
            </div>
        </div>
    </div>
</div>