<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a>
            </li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/tin-tuc"><span>Tin
                        tức</span></a></li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"Tin t\u1ee9c","item":"https:\/\/cokhinguyenhungdalat.com\/tin-tuc"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-12 ">

            <div class="title-main">
                <h1>Tin tức</h1>
            </div>
            <div class="content-main w-clear">
                <div class="row default row-10">
                    {{#each blogs}}
                    <div class="col-md-3 col-sm-4 col-12 mb-3 default">
                        <div class="post-module">
                            <!-- Thumbnail-->
                            <div class="thumbnail mb-2">
                                <a href="/tin-tuc/{{this.slug}}"><img
                                        onerror="this.src='thumbs/380x230x2/assets/images/noimage.png' " style="height: 156px !important;"
                                        src="{{this.img}}" /></a>
                            </div>
                            <!-- Post Content-->
                            <div class="post-content">

                                <h3 class="title"><a href="/tin-tuc/{{this.slug}}"
                                        title="{{this.title}}">{{this.title}}</a></h3>
                                <div class="time-main d-block d-sm-none"><i
                                        class="fas fa-calendar-week"></i><span>{{this.createdAt}}</span></div>
                                <p class="description text-split">{{this.content.[0].paragraph}}</p>
                                <div class="post-meta "><small><i class="icon-calendar-1"></i> {{shortDate this.createdAt}}</small></div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    
                    <div class="clear"></div>
                    <div class="pagination-home"></div>
                </div>
            </div>
        </div>

    </div>
</div>