<div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Thông tin cửa hàng</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="container-fluid">
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body profile-card">
                                <center class="mt-4">
                                    <h4 class="card-title mt-2">{{uppercase shop.name}}</h4>
                                    <h6 class="card-subtitle">Admin {{admin.name}}</h6>
                                    
                                </center>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material mx-2" method="POST">
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Tên Cửa hàng</label>
                                        <div class="col-md-12">
                                            <input type="text" name="name" value="{{shop.name}}"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-12">Email</label>
                                        <div class="col-md-12">
                                            <input type="email" value="{{shop.email}}"
                                                class="form-control ps-0 form-control-line" name="email"
                                                id="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Số nhà, Đường</label>
                                        <div class="col-md-12">
                                            <input type="text" name="street" value="{{shop.address.street}}"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Phường, xã</label>
                                        <div class="col-md-12">
                                            <input type="text" name="ward"  value="{{shop.address.ward}}"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Tỉnh, Huyện</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{shop.address.district}}" name="district"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Tỉnh, Thành phố</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{shop.address.city}}" name="city"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Số điện thoại</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{showPhone shop.phone}}" name="phone"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Link Zalo</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{shop.social.zalo}}" name="zalo"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Link Facebook</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{shop.social.facebook}}" name="facebook"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 mb-0">Link Website</label>
                                        <div class="col-md-12">
                                            <input type="text" value="{{shop.social.website}}" name="website"
                                                class="form-control ps-0 form-control-line">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-12 d-flex">
                                            <button class="btn btn-success mx-auto mx-md-0 text-white" type="submit">Cập nhật cửa hàng</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                
            </div>
            <footer class="footer"> © 2021 Material Pro Admin by <a href="https://www.wrappixel.com/">wrappixel.com </a>
            </footer>
            
        </div>