<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a></li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/gioi-thieu"><span>Giới
                        thiệu</span></a></li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"Gi\u1edbi thi\u1ec7u","item":"https:\/\/cokhinguyenhungdalat.com\/gioi-thieu"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="row">

        <div class="col-12">

            <div class="title-main">
                <h1>Giới thiệu</h1>
            </div>

            <div class="content-main w-clear">
                <div class="content-main w-clear">
                    <p style="text-align: justify;"><span style="line-height:1.5;">{{shop.desc}}</span></p>

                    <p><span style="line-height:1.5;">THÔNG TIN LIÊN HỆ :</span></p>

                    <p><strong><span style="line-height:1.5;">{{shop.name}}</span></strong></p>

                    <p><span style="line-height:1.5;">Đ/C : {{shop.address.street}} - {{shop.address.ward}}, {{shop.address.district}} - {{shop.address.city}}</span></p>

                    <p><span style="line-height:1.5;">ĐT : 
                        {{#each shop.phone}}
                            - {{this}}
                        {{/each}}
                    </span></p>
                </div>
                <div class="share">
                    <b>Chia sẻ:</b>
                    <div class="social-plugin w-clear">
                        <div class="addthis_inline_share_toolbox_qj48"></div>
                        <div class="zalo-share-button" data-href="https://cokhinguyenhungdalat.com/gioi-thieu"
                            data-oaid="0988868618" data-layout="1" data-color="blue" data-customize=false></div>
                    </div>
                </div>
                <div class="fb-comments" data-href="https://cokhinguyenhungdalat.com/gioi-thieu" data-width="100%"
                    data-numposts="5" data-order-by="reverse_time"></div>
            </div>
        </div>
    </div>
</div>