<div id='footer'>
    <div class="container ">

        <div class="row d-flex flex-column flex-sm-row justify-content-between">
            <div class="col-12 col-md-5  mb-3 company-info">


                <h1>{{shop.name}}</h1>
                <div class="slogan-footer"></div>
                <div class="content">
                    <div><span><i class="fal fa-map-marker-alt"></i></span>&nbsp;{{shop.address.street}}, {{shop.address.ward}}, {{shop.address.district}},
                        {{shop.address.city}}</div>
                    <div><span><i class="fas fa-phone-alt"></i></span>&nbsp;{{showPhone shop.phone}}</div>
                    <div><span><i class="fal fa-envelope-open-text"></i></span>&nbsp;{{shop.email}}
                    </div>
                    <div><span><i class="fal fa-globe"></i></span>&nbsp;www.{{shop.social.website}}</div>
                </div>



            </div>
            <div class="col-12 col-md-7">
                <div class="row">

                    <div class="col-12 col-md-6  mb-3">
                        <div class="small-title-2 text-shadow">Chính sách</div>
                        <div class="content">
                            <ul>
                                <li><a href="/ho-tro-dat-hang">Hỗ trợ đặt hàng</a></li>
                                <li><a href="/chinh-sach-mua-hang">Chính sách mua
                                        hàng</a></li>
                                <li><a href="/chinh-sach-bao-hanh">Chính sách bảo
                                        hành</a></li>
                                <li><a href="/chinh-sach-bao-mat">Chính sách
                                        bảo mật thông tin</a></li>
                                <li><a href="/chinh-sach-ban-hang">Chính sách bán
                                        hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  mb-3">

                        <div class="small-title-2 text-shadow">Đăng ký nhận tin</div>
                        <div class="content">
                            <div class="form-newsletter">
                                <div class="desc">Hãy để lại email của bạn để nhận thông tin mới nhất từ chúng tôi</div>
                                <form class="form-newsletter">
                                    <input type="email" required name="email" placeholder="Nhập email của bạn"><button
                                        type="submit">Gửi</button>
                                </form>
                            </div>
                            <div class="content social ">

                                <a href="{{shop.social.facebook}}" target="_blank"
                                    rel="nofollow noopener"><img src="/thumbs/42x0x1/upload/photo/s1-73160.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    Copyright © 2023 CÔNG TY TNHH CƠ KHÍ NGUYÊN HÙNG. </div>
                <div class="col-auto">
                    <span>Đang online: 3</span> |
                    <span>Tổng truy cập: 6967</span>
                </div>
            </div>
        </div>
    </div>
</div>