<div class="breadCrumbs">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/"><span>Trang chủ</span></a></li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/lien-he"><span>Liên hệ</span></a>
            </li>
        </ol>
        <script
            type="application/ld+json">{"@context": "https://schema.org","@type": "BreadcrumbList","itemListElement": [{"@type":"ListItem","position":1,"name":"Li\u00ean h\u1ec7","item":"https:\/\/cokhinguyenhungdalat.com\/lien-he"}]}</script>
    </div>
</div>
<div class="container mt-3">
    <div class="inner-page mb-3">
        <div class="title-main">
            <h1>Liên hệ</h1>
        </div>
        <div class="content-main w-clear">
            <div class="top-contact">
                <div class="article-contact">
                    <h2><span style="color:#0000cc;">{{shop.name}}</span></h2>

                    <p><span style="font-size:14px;"><strong>Địa chỉ: </strong>{{showAddr shop.address}}</span></p>

                    <p><span style="font-size:14px;"><strong
                                style="font-size: 16px;">Email:</strong> {{shop.email}}</span></p>

                    <p><span style="font-size:14px;"><strong>SĐT liên hệ: </strong>{{showPhone shop.phone}}</span>
                    </p>

                    <p><span style="font-size:14px;"><strong>Zalo</strong>: <a
                                href="https://zalo.me/{{shop.social.zalo}}" target="_blank">Liên hệ ngay</a></span></p>

                    <p><span style="font-size:14px;"><b>Website</b>: <a href="/">{{shop.social.website}}</a></span>
                    </p>

                    <p><span style="font-size:14px;"><strong>Giờ làm việc</strong>: {{shop.worktime}}</span></p>
                </div>
                <form class="form-contact validation-contact" novalidate method="post" action="index.html"
                    enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-contact col-sm-6">
                            <input type="text" class="form-control" id="ten" name="ten" placeholder="Họ tên" required />
                            <div class="invalid-feedback">Vui lòng nhập họ và tên</div>
                        </div>
                        <div class="input-contact col-sm-6">
                            <input type="number" class="form-control" id="dienthoai" name="dienthoai"
                                placeholder="Số điện thoại" required />
                            <div class="invalid-feedback">Vui lòng nhập số điện thoại</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-contact col-sm-6">
                            <input type="text" class="form-control" id="diachi" name="diachi" placeholder="Địa chỉ"
                                required />
                            <div class="invalid-feedback">Vui lòng nhập địa chỉ</div>
                        </div>
                        <div class="input-contact col-sm-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                required />
                            <div class="invalid-feedback">Vui lòng nhập địa chỉ email</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-contact col-12">
                            <input type="text" class="form-control" id="tieude" name="tieude" placeholder="Chủ đề"
                                required />
                            <div class="invalid-feedback">Vui lòng nhập chủ đề</div>
                        </div>
                        <div class="input-contact col-12">
                            <textarea class="form-control" id="noidung" name="noidung" placeholder="Nội dung"
                                required /></textarea>
                            <div class="invalid-feedback">Vui lòng nhập nội dung</div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" name="submit-contact" value="Gửi" disabled />
                    <input type="reset" class="btn btn-secondary" value="Nhập lại" />
                    <input type="hidden" name="recaptcha_response_contact" id="recaptchaResponseContact">
                </form>
            </div>
            <div class="bottom-contact mt-3"><iframe
                    src="{{googleMapsURL}}"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</div>