<div class="slideshow">

    <div id="mainSlider" class="owl-carousel" style="display: block;">
        {{#each shop.mainImg}}
        <div class="item" style="width: 100%">
            <a href="/" title=""><img
                    src="{{this}}"/></a>
        </div>
        {{/each}}
    </div><!-- end main-slider -->
</div><!-- end slideshow-->

<div class="head-index pt-4">
    <div class="container">
        <div class="block-about">
            <div class="row">
                <div class="col-12">
                    <div class="title">

                        <div class="big-title">GIỚI THIỆU {{uppercase shop.name}}</div>
                    </div>
                    <div class="content">
                        <p style="text-align: center;">{{shop.about}}</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="product-list-vcd">
            <div class="list">
                {{#each cate}}
                    <div class="item item-{{increase @index}}">
                        <a href="/danh-muc/{{this.slug}}">
                            <span class="number">{{increase @index}}</span>
                            <h2 style="display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 1;
                                overflow: hidden;">{{this.name}}</h2>
                            <p style="
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                            ">{{this.desc}}</p>
                        </a>
                    </div>
                {{/each}}
                <div class="text-center">
                    <img src="assets/images/index.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="block-product">
        <div class="big-title text-black">CÔNG TRÌNH NỔI BẬT</div>

        <div class="group-product">
            <div class="row">
                {{#each popProducts}}
                <div class="col-6 col-sm-4 col-md-3 col-lg-3 mb-4">
                    <div class="product grid">
                        <a class="box-product text-decoration-none" href="/cong-trinh/{{this.slug}}"
                            title="{{this.name}}">
                            <p class="pic-product scale-img"><img
                                onerror="this.src='thumbs/360x360x2/assets/images/noimage.jpg';" style="height: 259px !important;"
                                src="{{this.img}}"
                                alt="{{this.name}}" /></p>
                        </a>
                        <div class="info-product">
                            <div class="wrap-info">
                                <div class="info1">
                                    <h3 class="name-product">
                                        <a class="text-decoration-none" href="/cong-trinh/{{this.slug}}"
                                            title="{{this.name}}">{{this.name}}</a>
                                    </h3>
                                    <p class="price-product">
                                        <span class="price-new">Liên hệ:
                                            <span>
                                                {{#each ../shop.phone}}
                                                - <a href="tel:{{this}}">{{this}}</a>
                                                {{/each}}</span></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div><a href="/" target="_blank" rel="nofollow noopened">
        <img src="thumbs/1920x0x1/upload/photo/banner-7255.jpg" />
    </a></div>

<div class="block-news">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="block-title">TIN TỨC - SỰ KIỆN</div>
                <div class="row row-5">
                    <div class="col-12 col-md-7">
                        <div class="news-item-index">
                            <a href="/tin-tuc/{{latest.slug}}"><img
                                    src="{{latest.img}}" /></a>
                            <h4><a href="/tin-tuc/{{latest.slug}}">{{latest.title}}</a></h4>
                            <div class="desc text-justify text-split">
                            {{latest.content.paragraph}}</div>
                        </div>
                    </div>

                    <div class="col-12 col-md-5" style="margin-top:6px">
                        <div class="slick-news-index">
                            {{#each otherBlogs}}
                            <div>
                                <div class="news-item-index-small mb-2">
                                    <div class="row row-5">
                                        <a class="link col-5" style="width:150px"
                                            href="/tin-tuc/{{this.slug}}"><img style="height: 76px !important" src="{{this.img}}" /></a>
                                        <div class="info col-7">
                                            <h4><a href="/tin-tuc/{{this.slug}}">{{this.title}}</a></h4>
                                            <div class="desc text-justify">{{this.content.paragraph}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function handleImageError(img) {
        console.log(img.src)
        if (!img.onerrorHandled) {
            img.src = '/thumbs/360x360x2/assets/images/noimage.jpg';
            img.onerrorHandled = true;
        }
    }
</script>